.titulo {
  font-size: 40px;
  font-weight: 660;
  color: #ffffff;
  margin-left: 20px;
}

.button-container {
  display: flex;
  background-image: linear-gradient(to left, #60a8e4 0%, #085fe1 100%);
  width: 100%;
  align-items: center;
  justify-content: space-between; 
  padding: 0 30px;
  color: white;
}
.icons{
  display: flex;
  gap: 15px;
  align-items: center;
}
h2{
  font-size: 20px;
}