.titulo {
  font-size: 40px;
  font-weight: 660;
  color: #ffffff;
  margin-left: 20px;
}

.button-container {
  display: flex;
  background-image: linear-gradient(to right, #072561 0%, #15387d 0% , #40609f 100%);
  width: 100%;
  align-items: center;
  justify-content: space-between; 
  padding: 0 30px;
  color: white;
}
.icons{
  display: flex;
  gap: 20px;
  align-items: center;

}