.button-container {
  display: flex;
  background: #12171e;
  width: 350px;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin: 20px auto;
  transition: width 0.4s ease;
  overflow: hidden;
}
.button-container:hover {
   width: 410px
}
.button-container.active {
  width: 550px /* más grande que el hover */ /* se agranda solo cuando buscás */
}
.icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.button {
   outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #f0efef;
  cursor: pointer;

  transition: transform 0.3s ease;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  width: 30px;
  height: 30px;
  color: #f0efef;
}
.group {
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
}
.group .input {
  width: 0;
  opacity: 0;
  padding: 0;
  border: none;
  background: #1c222b;
  color: white;
  border-radius: 20px;
  transition: all 0.4s ease;
}

.group.active .input {
  width: 200px;
  opacity: 1;
  padding: 6px 15px;
  margin-right: 10px;
}

.titulo {
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
  letter-spacing: 2px;
}
.input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Firefox */
.input[type="search"] {
  appearance: none;
}
.search-btn{
  flex-shrink: 0;
  z-index: 2;
  margin-left: -80px;
}